body{
    background-color: #b1d0ff;
    display: flex;
    min-height: auto;
    margin: 0;
}
.Sidebar{
    position: fixed;
    top: 0;
    width: 150px;
    height: 10000px;
    background-color: #6ea8ff;
    padding: 1rem;
}
main{
    margin-left: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}